<div> <!-- animate show here -->

    <div class="row text-center">
        <div class="text-center">
            <font color="white">
                <h1>App is Loading</h1>
                <p>
                    Please stand by for your ticket to awesome-town!
                </p>
                ''{{test}}''
            </font>
        </div>
        
        <div class="text-center">
            <img src="/gif/loading.gif" class="col-lg-1 col-md-3 col-xs-3 col-centered" id="loading-indicator" />
        </div>
        <button type="button" class="btn btn-lg btn-primary" ng-click='gotoMain()'>{{test}}</button>
    </div>

    <div>
        <pre>$location.path() = {{location.path()}}</pre>
        <pre>$route.current.templateUrl = {{route.current.templateUrl}}</pre>
        <pre>$route.current.params = {{route.current.params}}</pre>
        <pre>$routeParams = {{km3GuiController.$routeParams}}</pre>
        <pre>test = {{test}}</pre>
    </div>
    
</div>
