
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Status Overview {{data}}</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12 col-md-6 text-center">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="row row-centered">
                                        <div class="huge">State Machine</div>
                                </div>
                            </div>
                                <div class="panel-body disabled">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-8 col-xs-8 col-centered">
                                            <div class="panel panel-primary text-center">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                       <h3>IDLE</h3>
                                                       <div class="container-fluid hidden">
                                                            <span class="pull-left">View Details</span>
                                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-body hidden">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row IDLE STATUS -->
                                    <div class="row hidden">
                                        <div class="col-lg-4 col-md-8 col-xs-8 col-centered">
                                            <div class="panel col-centered">
                                                <div class="btn-group" role="group" aria-label="...">
                                                    <button type="button" class="btn btn-success"> 
                                                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                                        <span class="glyphicon-class">Init</span>
                                                    </button>
                                                    <button type="button" class="btn btn-danger">
                                                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                                        <span class="glyphicon-class">Reset</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row ARROWS -->
                                    <div class="row">
                                        <div class="col-lg-2 col-md-8 col-xs-8 col-centered">
                                            <div class="panel panel-yellow text-center">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                       <h3>STANDBY</h3>
                                                       <div class="container-fluid">
                                                            <span class="pull-left">View Details</span>
                                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    Runsetup: "xxyyzz"
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row STANDBY STATUS -->
                                    <div class="row">
                                        <div class="col-lg-4 col-md-8 col-xs-8 col-centered">
                                            <div class="panel">
                                                <div class="btn-group" role="group" aria-label="...">
                                                    <button type="button" class="btn btn-success"> 
                                                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                                        <span class="glyphicon-class">Configure</span>
                                                    </button>
                                                    <button type="button" class="btn btn-danger">
                                                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                                        <span class="glyphicon-class">STOP</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row ARROWS -->
                                    <div class="row disabled">
                                        <div class="col-lg-2 col-md-8 col-xs-8 col-centered">
                                            <div class="panel panel-warning text-center">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                       <h3>READY</h3>
                                                       <div class="container-fluid hidden">
                                                            <span class="pull-left">View Details</span>
                                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-body hidden">
                                                    infos
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row READY STATUS -->
                                    <div class="row hidden">
                                        <div class="col-lg-4 col-md-8 col-xs-8 col-centered">
                                            <div class="panel">
                                                <div class="btn-group" role="group" aria-label="...">
                                                    <button type="button" class="btn btn-success"> 
                                                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                                        <span class="glyphicon-class">Start</span>
                                                    </button>
                                                    <button type="button" class="btn btn-danger">
                                                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                                        <span class="glyphicon-class">STOP</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row ARROWS -->
                                    <div class="row disabled">
                                        <div class="col-lg-2 col-md-8 col-xs-8 col-centered">
                                            <div class="panel panel-success text-center">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                        <h3>RUNNING</h3>
                                                        <div class="container-fluid hidden">
                                                            <span class="pull-left">View Details</span>
                                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-body hidden">
                                                    infos
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row RUNNING STATUS -->
                                    <div class="clearfix"></div>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->


            </div>
            <!-- /.container-fluid -->
