<div class="modal-header">
  <h4 class="modal-title">
    <span class="glyphicon glyphicon-star">
    </span>
    Detector select Form
  </h4>
</div>
<div class="modal-body">
  <ng-form name="RunsetupDialog" novalidate role="form">
    <div class="form-group input-group-lg">
      <label class="control-label">
        Dectector List
      </label>
      <ui-select ng-model="detector.selected" theme="bootstrap" ng-disabled="false" style="" title="Select a RunSetup">
      <ui-select-match placeholder="detector list...">{{$select.selected.description}}</ui-select-match>
      <ui-select-choices repeat="detector in detectorlist | propsFilter: $select.search">
        <div ng-bind-html="detector.description | highlight: $select.search"></div>
      </ui-select-choices>
      </ui-select>
      <p>Selected: {{detector.selected.description}}</p>
      <span class="help-block">
        Select The detector from list
      </span>
    </div>
  </ng-form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()">
    Cancel
  </button>
  <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="(nameDialog.$dirty && nameDialog.$invalid) || nameDialog.$pristine">
    OK
  </button>
</div>
