<div class="modal-header">
  <h4 class="modal-title">
    <span class="glyphicon glyphicon-star">
    </span>
    Escalation activated....
  </h4>
</div>
<div class="modal-body">
<b>{{currentEscalatingName}}</b> has requested the Privilege <br \><br \>
  Do you want to RELEASE your privilege?
  <br \><br \>
  Autogranting in {{secondToAutogrant}} s.
  <br \><br \>
  The force option for the other user will be enabled in {{secondsToForceEnabling}} seconds.

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="noAnswer()" ng-hide="secondsToForceEnabling < 1">
    No
  </button>
  <button type="button" class="btn btn-primary" ng-click="yesAnswer()" tabindex="2">
    YES!
  </button>
</div>
