<div class="col-xs-12" ng-controller="HeaderCtrl">
  <div class="user pull-right">
    <span class="dropdown item dropdown"
          dropdown
          on-toggle="toggled(open)"
          ng-hide="isDisabled">
      <a href class="dropdown-toggle" dropdown-toggle>
        <img src="img/avatar.jpg">
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-header">
          {{name}}
        </li>
        <li class="divider"></li>
        <li class="link">
          <a href="#">
            Profile: {{role}}
          </a>
        </li>
        <li class="link">
          <a href="#">
            Menu Item
          </a>
        </li>
        <li class="link">
          <a href="#">
            Menu Item
          </a>
        </li>
        <li class="divider"></li>
        <li class="link">
          <a href="" ng-click="logout()">
            Logout
          </a>
        </li>
      </ul>
    </span>
    <span class="dropdown item dropdown"
          dropdown
          on-toggle="toggled(open)"
          ng-hide="isDisabled">
      <a href class="dropdown-toggle" dropdown-toggle>
        <i class="fa fa-bell-o"></i><span class="badge">{{notifications.length==0?"":notifications.length}}</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-header">
          Notifications
        </li>
        <li class="divider"></li>
        <li ng-repeat="notification in notifications | reverse">
          <a href=""
             ng-if="$index < 5"
             ng-click="openViewfromNotification((notifications.length-$index-1))">{{notifications.length - $index-1}} - {{notification.message}}</a>
        </li>
        <li class="divider"></li>
        <li class="dropdown-header">
          <a href="" ng-click="clearNotification()">clear</a>
        </li>
      </ul>
    </span>

    <span class="dropdown item dropdown"
          dropdown
          on-toggle="toggled(open)"
          ng-hide="isDisabled">
      <a href class="dropdown-toggle" dropdown-toggle>
        <span class="fa-stack fa-lg">
          <i class="fa fa-ban fa-stack-1x fa-arrows-h"></i>
          <i ng-hide="websocketConnected"
             class="fa fa-ban fa-stack-1x text-danger fa-3"></i>

      </span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-header">
          WebSocket
          <span ng-hide="websocketConnected"
                class="text-danger">Problem!!</span>
          <span ng-hide="!websocketConnected"
                class="text-success">Connected</span>

        </li>
      </ul>
    </span>
     <span class="dropdown item dropdown"
           dropdown
           on-toggle="toggled(open)"
           ng-hide="isDisabled">
      <a href class="dropdown-toggle" dropdown-toggle>
        <span class="fa-stack fa-lg">
          <i ng-hide="daemonRunning" class="fa fa-ban fa-stack-1x text-danger"></i>
          <i class="fa fa-terminal fa-stack-3x"></i>

      </span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-header">
          Daemon
          <span ng-hide="daemonRunning" class="text-danger">NOT</span>
          Running
        </li>
      </ul>
    </span>
    <span class="dropdown item dropdown"
          dropdown
          on-toggle="toggled(open)"
          ng-hide="!commandOnGoing">
      <a href class="dropdown-toggle" dropdown-toggle>
          <i class="fa fa-spinner fa-pulse"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-header">
          a command is executing wait
      </ul>
    </span>
    <!-- 
      <button class="btn btn-success" ng-click="showLogin()" ng-disabled="isDisabled">Confirm Dialog</button>
    -->
  </div>
  <div class="meta" ng-hide="isDisabled">
    <div class="page">
      {{pageName}}
    </div>
    <div class="breadcrumb-links">
      {{pagePath}}
    </div>
  </div>
</div>
