<div class="modal-header">
  <h4 class="modal-title">
    <span class="glyphicon glyphicon-star">
    </span> 
    Runsetup Load Form
  </h4>
</div>
<div class="modal-body">
  <div ng-hide="errorstring == ''">
    {{errorstring}}
  </div>
  <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse&hellip;
                      <input type="file"
                             on-read-file="loadContent($fileContent, $filename, $fileFD)"

                        />

                    </span>

                </span>

                <input type="text" class="form-control" ng-model="filename" readonly >
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()">
    Cancel
  </button>
  <button type="button"
          class="btn btn-primary"
          ng-click="save()"
          ng-disabled="!okEnabled"
          >
    OK
  </button>
</div>
