<div class="modal-header">
  <h4 class="modal-title">
    <span class="glyphicon glyphicon-star">
    </span> 
    Login Form
  </h4>
</div>
<div class="modal-body">
  <ng-form name="loginForm" novalidate role="form">
    <div class="form-group input-group-lg" ng-class="{true: 'has-error'}[loginForm.username.$dirty && nameDialog.username.$invalid]">
      <label class="control-label" for="username">
        Name:
      </label>
      <input type="text" class="form-control" name="username" id="username" ng-model="user.username" ng-keyup="hitEnter($event)" required>
      <span class="help-block">
        Enter your username
      </span>
      <label class="control-label" for="password">
        Password:
      </label>
      <input type="password" class="form-control" name="password" id="password" ng-model="user.password" ng-keyup="hitEnter($event)" required>
      <span class="help-block">
        Enter your password
      </span>
    </div>
  </ng-form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="resetfields()" ng-disabled="loginForm.$pristine">
    Reset Fields
  </button>
  <button type="button" class="btn btn-primary" ng-click="login(user)" ng-disabled="(loginForm.$dirty && loginForm.$invalid) || loginForm.$pristine" tabindex="2">
    Login
  </button>
</div>
