<div class="modal-header">
  <h4 class="modal-title">
    <span class="glyphicon glyphicon-star">
    </span> 
    Runsetup select Form
  </h4>
</div>
<div class="modal-body">
  <ng-form name="RunsetupDialog" novalidate role="form">
    <div class="form-group input-group-lg">
      <label class="control-label">
        RunSetup List
      </label>
      <ui-select ng-model="runsetup.selected" theme="bootstrap" ng-disabled="false" style="" title="Select a RunSetup">
      <ui-select-match placeholder="runsetup list...">{{$select.selected.description}}</ui-select-match>
      <ui-select-choices repeat="rnstp in runsetuplist | propsFilter: $select.search">
        <div ng-bind-html="rnstp.description | highlight: $select.search"></div>
         <small>
          filename: <span ng-bind-html="''+rnstp.filename | highlight: $select.search"></span>
        </small>
      </ui-select-choices>
      </ui-select>
      <p>Selected: {{runsetup.selected.description}}</p>
      <p>FileName: {{runsetup.selected.filename}}</p>
      <span class="help-block">
        Select The runsetup from list
      </span>
    </div>
  </ng-form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()">
    Cancel
  </button>
  <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="(nameDialog.$dirty && nameDialog.$invalid) || nameDialog.$pristine">
    OK
  </button>
</div>
