<div class="modal-header">
  <h4 class="modal-title">
    <span class="glyphicon glyphicon-star">
    </span>
    Runsetup Description
  </h4>
</div>
<div class="modal-body">
  <textarea
    class="form-control" rows="5" id="description"
    ng-model="text"
    ng-maxlength="500"
    ng-minlength="1"
  >

  </textarea>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()">
    Cancel
  </button>
  <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="description.length<1 || description.length>500">
    OK
  </button>
</div>
