<div class="row row-centered" ng-controller="RunsetupEditorCtrl as ctrl">

  <div class="col-lg-6 col-centered">
    <div class="row row-centered" >
      <div class="h3 bg-info row row-centered" >
        Runsetup Description <button ng-class="{'glyphicon glyphicon-minus-sign': click,
                                              'glyphicon glyphicon-plus-sign':!click}"
                                    ng-click="click=!click"
                                   class="pull-right btn-xs btn-primary"
                                    ></button>
      </div>
      <div class="row bg-success" ng-hide="!click">
         <div class="row ">
           <div class="col-lg-12">
            <p class="text-left " style="white-space: pre;">{{ctrl.runsetup.description}}</p>
           </div>
         </div>
        <div class="row">
          <button class="btn-xs btn-primary glyphicon glyphicon-pencil" ng-click="changeDescription()"
              ng-hide="ctrl.runsetup.state=='published'"></button>
        </div>
      </div>
    </div>
    <div class="row row-centered" >
      <div class="row row-centered" >

        <button type="button"
                class="btn btn-danger btn-sm"
                ng-click="moveToDraft()"
                ng-hide="ctrl.runsetup.state!='published'"
          >Move RunSetup to draft</button>
      </div>
    </div>
    <div class="row row-centered bg-info" >
      <json-editor schema="ctrl.mySchema"
                   startval="ctrl.myStartVal"
                   buttons-controller="RunsetupEditorCtrl"
                   disabled="ctrl.disableEditor"
                   >
        <button type="button"
                class="btn btn-warning btn-sm"
                ng-click="saveRunSetup(editor.getValue())"
                ng-hide="ctrl.runsetup.state=='published'"

        >Save RunSetup</button>
     </json-editor>
    </div>

  </div>
</div>