<div class="row row-centered" ng-controller="RunsetupsCtrl">
  <div class="well well-lg">

  <div class="col-lg-8 col-centered">
    <div class="row row-centered">
      <div class="panel">
          <div class="panel-body">
            <button type="button"
                    class="btn btn-primary "
                    ng-click="openPublishedRunSetupList();">
                  View Published Runsetup
            </button>
            <button type="button"
                    class="btn btn-success"
                    ng-click="newRunsetup();">
                  Create new Runsetup
            </button>
        </div>
      </div>
    </div>
   </div>
    <div class="row row-centered">
      <div class="col-lg-12 col-centered">
        <div class="panel">
          <div class="panel-heading">
            <div class="text-center">
              <h2>Draft Runsetup</h2>
            </div>
          </div>
          <div class="panel-body">
            <div class="row row-centered table-bordered">
              <div class="col-lg-2 col-centered">
                <b>file name</b>
              </div>
              <div class="col-lg-1 col-centered">
                <b>Date</b>
              </div>
              <div class="col-lg-3 col-centered">
                <b>Description</b>
              </div>
              <div class="col-lg-2 col-centered">
                <b>Draft User</b>
              </div>
              <div class="col-lg-1 col-centered">
                <b>Detector ID</b>
              </div>
              <div class="col-lg-2 col-centered">
                <b>Action</b>
              </div>
            </div>
            <div class="row row-centered" ng-repeat="file in runsetupDraftList">
             <div class="col-lg-2 col-centered" style="word-break: break-all;">
                <wbr>{{file.filename}}
              </div>
              <div class="col-lg-1 col-centered" style="word-break: break-all;">
               <wbr>{{file.creation_timestamp * 1000| date:"dd/MM/yy"}}
                <br/>
               <wbr>{{file.creation_timestamp * 1000| date:"HH:mm:ss"}}

              </div>
              <div class="col-lg-3 col-centered" style="word-break: break-all;">
                <p class="text-left " style="white-space: pre;"><wbr>{{file.description}}</p>
              </div>
              <div class="col-lg-2 col-centered" style="word-break: break-all;">
                <wbr>{{file.name}}
              </div>
              <div class="col-lg-1 col-centered" style="word-break: break-all;">
                <wbr>{{file.detector_id}}
              </div>
              <div class="col-lg-2 col-centered ">
                <div class="row-centered">
                  <button
                        ng-click="editRunsetup(file);"
                        class=" btn-xs btn-primary glyphicon glyphicon-pencil"
                        title="Edit the runsetup"
                  ></button>
                  <button
                        ng-click="deleteRunsetup(file);"
                        class=" btn-xs btn-danger glyphicon glyphicon-trash"
                        title="Delete the runsetup"

                  ></button>
                  <button
                        ng-click="cloneRunsetup(file);"
                        class=" btn-xs btn-alert glyphicon glyphicon-transfer"
                        title="Clone This runsetup"

                  ></button>
                  <button ng-click="changeDetector(file)"
                          class=" btn-sm btn-success fa fa-university"
                          title="Change the assigned detector"

                  ></button>
                </div>
                <div class="row-centered">
                  <button ng-click="publishRunsetup(file);"
                          class=" btn-sm btn-info glyphicon glyphicon-eye-open"
                          title="Publish the runsetup"
                  ></button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


