 <div ng-controller="SidebarCtrl">
 <ul class="sidebar" >
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()" ng-disabled="isDisabled">
            Tridas GUI
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
   <!--
        <li class="sidebar-list" ng-hide="hideElement || isDisabled" >
          <a href="#/dashboard" >Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list" ng-hide="hideElement || isDisabled">
          <a href="#/tables">Tables <span class="menu-icon fa fa-table"></span></a>
        </li>
       -->
        <li class="sidebar-list" ng-hide="hideElement || isDisabled" >
          <a href="" ng-click="goToStatemachinePage();">StateMachine <span class="menu-icon fa fa-server"></span></a>
        </li>
        <li class="sidebar-list" ng-hide="hideElement || isDisabled" >
          <a href="" ng-click="showloadrunsetupeditor();">Edit RunSetup <span class="menu-icon fa fa-server"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular" target="_blank">
            hide:{{hideElement}}
          </a>
        </div>
        <div class="col-xs-4">
          <a href="..." target="_blank">
            dis:{{isDisabled}}
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            item:{{showItem}}
          </a>
        </div>
      </div>
</div>
