<div class="row row-centered" ng-controller="StateMachineCtrl">
  <div class="col-lg-6 col-centered">
    <div class="row row-centered">
      <div class="well well-lg">
        <div>
          {{currentPriviledged}}<br />
          {{escalating_priviledge}}<br />
          {{expiring_priviledge}}
        </div>
        <div>
          <button type="button"
                  class="btn btn-warning btn-sm"
                  ng-click="iwouldliketoescalate()"
                  ng-hide="isPriviledged">Escalation request</button>
          <button type="button"
                  class="btn btn-success btn-sm"
                  ng-click="releasePriviledge()"
                  ng-hide="!isPriviledged">Release Privilege</button>

        </div>  
      </div>
    </div>

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="15000">{{alert.msg}}</alert>

    <div class="panel"
         ng-class="{'panel-primary': !idleState, 'panel-success': idleState || standbyState || readyState || runningState  }">
      <div class="panel-heading text-center">
        STATE MACHINE
      </div>
      <div class="panel-body">
        <div class="row row-centered">
          <div class="btn-group" dropdown is-open="status.idle.isopen">
            <button type="button"
                    class="btn dropdown-toggle"
                    dropdown-toggle
                    ng-disabled="!isPriviledged || !idleState"
                    ng-class="{'btn-danger': idleState, 'btn-primary': !idleState}">
              IDLE
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="init()">Init -> (STANDBY)</a></li>
            </ul>
          </div>
          <div class="row" ng-hide="idleState">
            Selected run setup: {{runsetup}}
          </div>
          <div class="row row-centered" ng-hide="idleState">
            RunSetup Loaded Succesfully
          </div>
          <div class="row row-centered" ng-hide="!idleState">
            IDLE TIME: {{idleTime | secondsToDateTime:timestamp}}
          </div>
          <div class="row row-centered bg-danger"
               ng-hide="!idleState || reason == ''">
            ERROR: {{reason}}
          </div>
        </div>
        <div class="row row-centered">
          <div class="panel"
               ng-class="{'panel-primary': !standbyState, 'panel-success': standbyState || standbyState || readyState || runningState }">
            <div class="panel-heading text-center">
              Initiated
            </div>
            <div class="panel-body">
              <div class="row row-centered">
                <div class="btn-group" dropdown is-open="status.standby.isopen">
                  <button type="button"
                          class="btn dropdown-toggle"
                          dropdown-toggle
                          ng-disabled="!isPriviledged || !standbyState"
                          ng-class="{'btn-danger': standbyState, 'btn-primary': !standbyState}">
                    STANDBY
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href=""
                           ng-click="configure()">Configure -> (READY)</a></li>
                    <li class="divider"></li>
                    <li><a href="" ng-click="reset()">Reset --> (IDLE)</a></li>
                  </ul>
                </div>
                <div class="row row-centered" ng-hide="!standbyState">
                  STANDBY TIME: {{standbyTime | secondsToDateTime:timestamp}}
                </div>
                <div class="row row-centered"
                     ng-hide="!readyState && !runningState ">
                  DATACARD: {{datacard}} <br />

                  TCPU RUNNING: {{processes.TCPU.active}}/{{processes.TCPU.outOf}} <br />
                  HM RUNNING: {{processes.HM.active}}/{{processes.HM.outOf}} <br />
                </div>
                <div class="row row-centered bg-danger"
                     ng-hide="!standbyState || reason==''">
                  ERROR: {{reason}}
                </div>
              </div>
              <div class="row row-centered">
                <div class="panel"
                     ng-class="{'panel-primary': !readyState, 'panel-success': readyState || runningState}">
                  <div class="panel-heading text-center">
                    Configured
                  </div>
                  <div class="panel-body">
                    <div class="row row-centered">
                      <div class="btn-group"
                           dropdown
                           is-open="status.ready.isopen">
                        <button type="button"
                                class="btn dropdown-toggle"
                                dropdown-toggle
                                ng-disabled="!isPriviledged || !readyState"
                                ng-class="{'btn-danger': readyState, 'btn-primary': !readyState}">
                          READY
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href=""
                                 ng-click="start()">Start -> (RUNNING)</a></li>
                          <li class="divider"></li>
                          <li><a href="" ng-click="reset()">Reset -> (IDLE)</a></li>
                        </ul>
                      </div>
                      <div class="btn-group"
                           dropdown
                           is-open="status.running.isopen">
                        <button type="button"
                                class="btn dropdown-toggle"
                                dropdown-toggle
                                ng-disabled="!isPriviledged || !runningState"
                                ng-class="{'btn-danger': runningState, 'btn-primary': !runningState}">
                          RUNNING
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#"
                                 ng-click="stop()">Stop -> (STANDBY)</a></li>
                          <li class="divider"></li>
                          <li><a href="#" ng-click="reset()">Reset -> (IDLE)</a></li>
                        </ul>
                      </div>
                       <div class="row row-centered"
                            ng-hide="!readyState && !runningState">
                          <span ng-hide="!readyState">READY TIME: {{readyTime|secondsToDateTime:timestamp}}</span><br>
                          RUNNUMBER: {{runnumber}}
                      </div>
                      <div class="row row-centered" ng-hide="!runningState"> 
                        TSV RUNNING: {{processes.TSV.active}}/{{processes.TSV.outOf}} <br />
                        EM RUNNING: {{processes.EM.active}}/{{processes.EM.outOf}} <br />
                          <span ng-hide="!runningState">RUNNING TIME: {{runningTime|secondsToDateTime:timestamp}}</span>
                      </div>
                      <div class="row row-centered bg-danger"
                           ng-hide="(!readyState && !runningState) || reason == ''">
                        ERROR: {{reason}}
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end INITIATED PANEL BODY -->
    </div>
      <!-- end STATE MACHINE PANEL BODY -->
  </div>
</div>
